body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
#title{
    background-color: #Fbf3ec;
    color: black;
}
#hello{
    background-color: #Fbf3ec;
    color: black;
    text-align: center;
}
.head2{

    display: inline-block;
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    color: purple;
    
}
.head3 {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 4.5rem;
    font-weight: 750; 
    width: 75%;
}

.head3 span {
    color: orange; /* Style for the word "Strategic" */
}
.head4{
    padding-top: 1.5%;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: bolder; 
    width: 50%; 
    
}
.head5 button {
    background-color: #8247ff;
    color: white;
    font-size: 1.5rem; 
    font-weight: bold;
}


.head5 button {
    padding: 10px 30px;
    border-radius: 20px;
}
.container-fluid3{
    padding: 0px 20px 24px 16px;
    --border-bottom-width: 2px; 
    --border-color: rgba(118, 117, 117, 0.05); 
    --border-left-width: 0px; --border-right-width: 0px; 
    --border-style: solid; 
    --border-top-width: 0px; 
    background-color: rgb(253, 242, 236); 
    width: 100%; 
    opacity: 1;
}
.img_logo{
    display: block;
    width: 12%;
    height: 90%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
}

.head{
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 800px;
    font-size: 3.5rem;
    line-height: 1.5;

}

/* navigation bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}

.nav-item {
    padding: 8px 15px;
    font-size: 1rem;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    color: black !important; /* Add !important to ensure precedence */
    transition: color 0.3s ease; /* Smooth transition for color change */
}
.navbar-nav .nav-item .nav-link:hover {
    color: plum; /* Change text color to plum on hover */
}
.image-container {
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bdo_imag {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .pop-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust overlay color and transparency */
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  img.bdo_imag {
    position: relative;
    margin-top: -247px;
}
/* features */
.headthree{
    margin: 3% 0 3% 0;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}
.row{
    padding: 90px;
}
#features{
    text-align: center;
    background-color: #fff;
    position: relative;
    
}
p{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #8f8f8f;
}
.iconi{
    color: #ef8172;   
}
.iconi:hover{
    color: #ff4c68;
}
/* <!-- Testimonials --> */
#testimonials{
    
    text-align: center;
    background-color:#ef8172 ;
    color: #fff;
}
.tit{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
/* press section */
#press{
    background-color:#ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing */
#pricing{
    font-family: 'Lato', sans-serif;
    padding: 100px;
    text-align: center;
    background-color:white;
    
}
.pricing-colum{
    padding: 3% 2%;
}
/*  Call to Action */
#cta{
    
    padding: 100px;
    text-align: center;
    background-color:#ff4c68;
}
/* footer */
#footer{
    padding: 3% 7% 3%;
    text-align: center;
}
.hj{
    margin: 5px;
}
.footer-head{
    
    margin: 10px;
}
/* making responsive for mobile also */
@media (max-width:1164px){
    .dog-img{
        width: 100%;
        position: static;
        transform: rotate(0deg);
    }
    .head{
        text-align: center;
    }
}